body{
    background-size: cover;
    text-align: center;
}

#heading{
    width: 100%;
    margin: 0;
    font-size: 35px;
    height: 15%;
    font-family: monospace;
}

.note{
    color: black;
    font-size: 25px;
    font-family: monospace;
}

#input_section{
    margin: 50px;
    text-align: center;
}

label{
    color: white;
    font-size: 30px;
    font-family: monospace;
    margin: 15px;
}

#input_object_name{
    line-height: 2;
    width: 20%;
    font-size: 25px;
    font-family: monospace;
    padding: 10px;
    color: black;
}

.start{
    width: 6%;
    margin: 20px;
    font-size: 25px;
    height: 15%;
    font-family: monospace;
}

#status{
    width: 11%;
    margin: 30px;
    font-size: 25px;
    font-family: monospace;
}

#object_found{
    width: 10%;
    margin: 30px;
    font-size: 25px;
    font-family: monospace;
}

canvas{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 7px 7px 7px rgb(55, 55, 55);
    margin-top: 600px;
}